@media (max-width: 1023px){

	.body .center-column blocks li{
		width: 280px;
	}
}


@media (max-width: 754px){
	.main-menu > ul > li{
		width: 25%;
	}

	.pestaña-menu{
		display: block;
	}

	.filters-menu a,
	.filters-menu span{
		height: 50px;

	}
	.filters-menu{
		width: 100%;
		min-width: 320px;
		position: relative;
		z-index: 1;
		margin-bottom: 20px;
	}

	.filters-menu > ul > li{
		width: 33%;
		float: left;
		position: relative;
		display: block;
	}

	.filters-menu > ul > li > ul{
		position: absolute;
		z-index: 1;
		top: 48px;
		left: 0px;
		width: 100%;
		display: none;
	}

	.filters-menu > ul > li > ul > li{
		width: 100%;
	}

	/** Corrección del comprotamiento por
defecto del efecto blind de jquery ui **/
	/**.filters-menu */
	.filters-menu .ui-effects-wrapper{
		position: absolute !important;
		z-index: 1;
		margin: 0px;
	}
	
	.wrapper-items{
		width: 100%;
	}

	.banner-filmoteca .filmoteca{
		display: none;
	}
}

@media (max-width: 580px){ 

	.items .item{
		width: 33%
	}

	.banner-filmoteca .unam{
		display: none;
	}
}

@media (max-width: 480px){ 

	.wrapper{
		width: 100%;
		min-width: 320px;
	}

	.body .main{
		width: 100%;
	}

	.block{
		width: 100%;
	}

	.wrapper-items{
		width: 100%;
	}

	.main-menu > ul > li{
		width: 50%;
	}

	.filters-menu > ul > li{
		width: 50%;
	}
}

@media (max-width: 440px){

	.items .item{
		width: 50%
	}

}

