/* 
    Document   : billboard
    Created on : 9/05/2013, 10:09:01 PM
    Author     :
    Description:
        Simular una cartelera de cine.
*/

.billboard .screen{
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position:relative;
    margin-left: auto;
    margin-right: auto;
    width:100%;
}

.billboard .screen .sections{
    overflow: hidden;
    width: 100%;
    clear: both;
}
.billboard .screen .sections ul,
.billboard .screen .sections li{
    -moz-box-sizing: border-box;
    box-sizing: border-box;	
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.billboard .screen .sections ul:after{
    content:'';
    display: block;
    clear: both;
}
.billboard .screen .sections li{
    float:left;
    position:relative;
}

/******************************************/
/** Billboard				 **/
/******************************************/

#billboard .screen{
    padding: 0px 35px;
}

#billboard{
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    background-color: #966698;
    background: -moz-linear-gradient(#966698,#fff);
	border: 2px solid #bcbab9;
	border-radius:15px;
	width:327px;
	height:511px;
}

#billboard h3,h4{
    padding:10px 10px 5px 10px;
    text-align: center;
}

#billboard h4{
    color: #973397;
}

#billboard .screen .sections li a img{
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: solid thick black;
}

#billboard .screen .sections li h2{
    font-size: larger;
    text-align: center;
}

#billboard .screen .sections li p{
    font-size: smaller;
    text-align: right;
}

#billboard .screen .sections li a{
    display: block;
    width: 100%;
}

#billboard .screen .sections li img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

}

#billboard .next{
    background-image: url('imgs/button-next.png');
    right: -5px;
}

#billboard .next:hover{
    background-image: url('imgs/button-next-over.png');
}

#billboard .prev{
    background-image: url('imgs/button-prev.png');
    left: -5px;
    display: none;
}

#billboard .prev:hover{
    background-image: url('imgs/button-prev-over.png');
}

#billboard .next,
#billboard .prev{
    position: absolute;
    top:40%;
    width: 37px;
    height: 42px;
    cursor: pointer;
}
/******************************************/
